<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="APL_LOG_APPENDER" class="ch.qos.logback.core.FileAppender">
		<file>c:/tmp/app.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5le [%t] %lo{36} - %msg %n</pattern>
		</encoder>
		<prudent>false</prudent>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<logger name="APL_LOG" level="INFO">
		<appender-ref ref="APL_LOG_APPENDER" />
	</logger>

	<root>
		<appender-ref ref="STDOUT" />
	</root>
</configuration>